.container {
	border: 5px solid black;
}

.donut {
	border: 1px solid fuchsia;
	height: 40px;
	width: 40px;
	font-size: 10px;
}

.donut-objective {
	border: 5px solid blue;
}

.donut-array{
	border: 5px solid red;
	width: 150px;
	height: 100px;
	display: inline-block;
	text-align: center;
	padding-top: : 15px;
	border-radius: 30px;
}

.donut-array .donut{
	display: inline-block;
}

.donut-container{
	border: 5px solid yellow;
	position: relative;
	padding-right: 1px;
	display: inline-block;
	padding-bottom: 150px;
	text-align: center;
}

.donut-box{
	border: 5px solid purple;
/*	background-color: none;*/
	width: 300px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

.donut-takeaway{
	border: 5px solid black;
	width: 150px;
	height: 105px;
	display: inline-block;
	text-align: center;
	margin-top: 85px;
}

.donut-takeaway .donut{
	margin: 5px auto;
	display: inline-block;
}

.donut-sidebar{
	border:5px solid green;
	display: inline-block;
	width: 200px;
	height: 460px;
	float: right;
}

.donut-selection{
	border: 5px solid brown;
	width: 190px;
	height: 395px;
}

.donut-clicker{
	border: 5px solid grey;
}

.display-info{
	border: 5px solid pink;
	text-align: center;
}

#player-name{
	border: 1px solid orange;
	display: inline-block;
}

#player-points{
	border: 5px solid teal;
	display: inline-block;
}

button {
	position: absolute;
	top: 80%;
	left: 40%;
}

img {
	height: 40px;
	width: 40px;
}