.container {
	border: 5px solid black;
}

.donut-objective {
	border: 5px solid blue;
}

.donut-array{
	border: 5px solid red;
	padding-right: 1px;
	display: inline-block;
}
.donut-container{
	border: 5px solid yellow;
	padding-right: 1px;
	display: inline-block;
	padding-bottom: 150px;
	text-align: center;
}

.donut-box{
	border: 5px solid purple;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.donut-sidebar{
	border:5px solid green;
	display: inline-block;
	width: 200px;
	height: 460px;
	float: right;
}

.donut-selection{
	border: 5px solid brown;
	width: 190px;
	height: 395px;
}

.donut-clicker{
	border: 5px solid grey;
}

.display-info{
	border: 5px solid pink;
	text-align: center;
}

#player-name{
	border: 1px solid orange;
	display: inline-block;
}

#player-points{
	border: 5px solid teal;
	display: inline-block;
}