body {
	background-image: linear-gradient(to right,#FEC8D8,#87CEEB);
	font-family: Emilys Candy;
}

/*.container {
	border: 5px solid black;
}*/

.donut {
	height: 40px;
	width: 40px;
	font-size: 10px;
}

.donut-objective {
	height: 179px;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
	display: flex;
	position: relative;
}

.donut-array{
	border: 5px solid #FFE5B4;
	width: 155px;
	display: inline-block;
	padding: 15px 0 0 10px;
	border-radius: 30px;
	margin: 10px auto;
}

.donut-array .donut{
	display: inline-flex;
}

.donut-container{
	width: 80%;
	margin-top: 15px;
	border: 5px solid yellow;
	padding-right: 1px;
	display: inline-block;
	padding-bottom: 150px;
}

.donut-box{
	border: 5px solid purple;
	background-image: url("images/box/donut_box.png");
	background-size: 250px;
	background-repeat: no-repeat;
/*	background-color: none;*/
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.donut-takeaway{
	border: 5px solid black;
	width: 155px;
	height: 128px;
	display: inline-block;
	padding: 5px;
	padding-right: -5px;
	margin: 85px 0 0 67px;
	text-align: center;
}

.donut-takeaway .donut{
	margin: 5px auto;
	display: inline-block;
}

.donut-sidebar{
	/*border:5px solid green;*/
	display: inline-block;
	width: 200px;
	height: 460px;
	float: right;
}

.donut-selection{
	margin-top: 15px;
	border: 5px solid brown;
	background-color: grey;
	width: 190px;
	height: 395px;
}

.donut-clicker{
	text-align: center;
}

.donut-clicker .donut{
	display: inline-block;
	padding: 10px;

}

.display-info{
	border: 5px solid black;
	text-align: center;
}

#player-name{
	display: inline-block;
}

#player-points{
	display: inline-block;
}

.gameEnd{
	font-size:62px;
	text-align: center;
	font-family: Emilys Candy;
}

button {
	font-size: 24px;
	position: absolute;
	bottom: 20%;
	left: 33%;
	background-color: #4CAF50;
	padding: 15px 32px;
	border-radius: 12px;
	transition-duration: 0.2s;
	font-family: Emilys Candy;
}

/*changes the background to green on hover and removes border */
button:hover{
	background-color: #4CAF50;
	color: white;
	border: none;
}

/* removes the blue outline on click */
button:focus {
	outline: 0;
}

img {
	height: 60px;
	width: 60px;
}